.rank {
  border: none !important;
  outline: none !important;
  padding-left: 0 !important;
  border-radius: 18px;
  width: 90px;
  transition: outline-color .2s;

  &:focus-visible {
    outline-color: #feb700;
  }
}