.button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 52px;
  height: 52px;
  border-radius: 8px;
  background: linear-gradient(145deg, #1f1f36, #0c0c19);
  border: 1px solid rgba(255, 215, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
  pointer-events: none;
  translate: 0 20px;
  transition:
    opacity .3s cubic-bezier(0.16, 1, .3, 1),
    translate 1s cubic-bezier(0.16, 1, .3, 1),
    background .3s cubic-bezier(0.16, 1, .3, 1),
    border-color .3s cubic-bezier(0.16, 1, .3, 1);

  &.active {
    opacity: 1;
    translate: 0;
    pointer-events: all;
  }

  &:hover {
    background: linear-gradient(145deg, #23233d, #1a1a30);
    border-color: rgba(255, 215, 0, 1);
  }
}

.button svg {
  height: 24px;
  width: 24px;
  rotate: -90deg;
  fill: #FFD700;
}