@use "@/Styles/mixins" as m;

.filtersSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 14px;
  margin-top: 24px;
}

@include m.small {
  .filtersSection {
    grid-template-columns: 1fr;
  }
}