@use "@/Styles/mixins" as m;

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 50px;
}

@media (max-width: 1300px) {
  .header {
    margin: 10px 20px 30px;
  }
}

.header>h3 {
  font-size: 1.4rem;
  font-weight: 700;
  text-wrap: nowrap;
}