@use "@/Styles/mixins" as m;

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 50px;
}

@media (max-width: 1300px) {
  .header {
    margin: 10px 20px 30px;
  }
}

.header>h3 {
  font-size: 1.4rem;
  font-weight: 700;
  text-wrap: nowrap;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button {
  background-color: #1e2029;
  border: 1px solid #ffcc33;
  color: #ffcc33;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: .87rem;
  cursor: pointer;
  position: relative;
  top: 2px;
  transition: background-color .2s;

  &:not(:disabled):hover {
    background-color: #2a2b36;
  }

  &:disabled {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    cursor: not-allowed;
  }
}