@use "@/Styles/mixins" as m;

@include m.medium {
  .tops[data-type=player-stats-tops] {
    align-items: flex-end;
    height: 180px;
  }
}

@media (max-width: 540px) {
  .tops[data-type=player-stats-tops] {
    display: none;
  }
}