.leaderboardWrapper {
  background-color: #151923;
  margin: 30px 0 40px;
  padding: 1.5rem;
  border-radius: 16px;
  overflow: hidden;
  border: solid 1px #1f2937;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
}

.leaderBoard {
  user-select: none;
}

.leaderBoard :where(thead, tbody) {
  width: inherit;
}

.leaderBoard tr {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 3.2fr;
  font-weight: 600;
}