.leaderBoard {
  margin-top: 32px;
  width: 100%;
  padding: 1.5rem;
  padding-top: 0;
  border: solid 1px #1f2937;
  border-radius: 1rem;
  user-select: none;
  cursor: pointer;
}

.leaderBoard :where(thead, tbody) {
  width: inherit;
}

.leaderBoard tr {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 3.2fr;
  font-weight: 600;
}