.leaderBoard {
  margin-top: 32px;
  width: 100%;
  padding: 1.5rem;
  padding-top: 0;
  border: solid 1px #1f2937;
  border-radius: 1rem;
}

.leaderBoard thead {
  background-color: #1f2937;
  color: #fff;
}

.leaderBoard :where(thead, tbody) {
  width: inherit;
}

.leaderBoard thead tr {
  width: inherit;
  color: #fff;

  & .rank {
    text-align: left;
  }

  & .player {
    text-align: left;
  }
}

.leaderBoard thead tr th {
  padding: 1rem;
}

.leaderBoard tbody tr {
  width: inherit;

  & .score {
    text-align: center;
  }

  & .tops {
    text-align: center;
  }
}

.leaderBoard tbody tr td:not(:last-child) {
  border-bottom: solid 1px #1f2937;
}

.leaderBoard tr {
  display: grid;
  grid-template-columns: 1fr 3fr .2fr 3fr;
  font-weight: 600;
}

.leaderBoard>tbody>tr .rank {
  color: #fff;
}

.leaderBoard>tbody>tr .player {
  color: #fff;
}

.leaderBoard>tbody>tr .score {
  color: #facc15;
}

.leaderBoard>tbody>tr .tops {
  color: #22d3ee;
}

.leaderBoard>tbody>tr td {
  padding: 1rem;
}