.optionsList {
  position: absolute;
  right: 0;
  background-color: #161b22;
  min-width: 240px;
  max-height: calc(45px * 6); // Show 6 options
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .3);
  z-index: 20;
  border-radius: 6px;
  margin-top: 4px;
  border: 1px solid #30363d;
  display: none;
  overflow-y: scroll;
}

.optionsList.visible {
  display: block;
}

.optionsList>button {
  color: #c9d1d9;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .875rem;
  font-weight: 500;
  border: none;
  width: 100%;
  background: none;
  text-align: left;
  cursor: pointer;
  transition:
    background-color .15s ease-in-out,
    color .15s ease-in-out;

  &.active {
    color: #58a6ff;
    font-weight: 600;
    background-color: rgba(88, 166, 255, .1);
  }

  &:not(.active):hover {
    background-color: rgba(32, 40, 50, .4);
    color: #58a6ff;
  }
}