@use "@/Styles/mixins" as m;

.mapsSection {
  width: 100%;
  min-height: 480px;
  position: relative;

  &.collapse>* {
    display: none;
  }
}

.mapsSection .mapsWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(390px, 1fr));
  gap: 16px;
  height: 1080px;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

@media (max-width: 1280px) {
  .mapsSection .mapsWrapper {
    grid-template-columns: repeat(3, minmax(368px, 1fr));
  }
}

@include m.large {
  .mapsSection .mapsWrapper {
    grid-template-columns: repeat(2, minmax(368px, 1fr));
  }
}

@media (max-width: 812px) {
  .mapsSection .mapsWrapper {
    grid-template-columns: 1fr;
  }
}