@use "./colors";
@use "./variables";

html {
  scrollbar-color: rgba(255, 255, 255, .3) transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif;

  &.noScroll {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 1rem 0 1rem;
}

.container {
  max-width: 1279px;
  width: 100%;
  margin: 0 auto;
}

.red {
  color: #da0120;
}

.green {
  color: #00b906;
}

.yellow {
  color: #e8ff19;
}

.blue {
  color: #170bdb;
}

.cyan {
  color: #23c2c6;
}

.magenta {
  color: #e201db;
}

.white {
  color: #eee;
}

.gray {
  color: #757575;
}

.black {
  color: #000;
}

.purple {
  color: #8080FE;
}