@use "./colors";
@use "./variables";

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100dvh;
  width: 1279px;
  padding: 6rem 1rem 0 1rem;
}

.container {
  width: 1279px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1280px) {
  main {
    width: 1199px;
  }

  .container {
    width: 1199px;
  }
}

@media (max-width: 1200px) {
  main {
    width: 991px;
  }

  .container {
    width: 991px;
  }
}

@media (max-width: 992px) {
  main {
    width: 767px;
  }

  .container {
    width: 767px;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}

.red {
  color: #da0120;
}

.green {
  color: #00b906;
}

.yellow {
  color: #e8ff19;
}

.blue {
  color: #170bdb;
}

.cyan {
  color: #23c2c6;
}

.magenta {
  color: #e201db;
}

.white {
  color: #eee;
}

.gray {
  color: #757575;
}

.black {
  color: #000;
}