.playerCard {
  background-color: #1f2937;
  border: solid 1px #374151;
  padding: 1.5rem;
  border-radius: 1rem;
}

.playerCard .mainInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.mainInfo .avatar {
  background-color: #374151;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainInfo .avatar>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainInfo .avatar>svg {
  width: 2rem;
  height: 2rem;
  color: #6b7280;
}

.mainInfo .wrapper {}

.mainInfo .wrapper>h2 {}

.mainInfo .wrapper>span {}

.playerCard .stats {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.playerCard .stats .stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playerCard .stats .stat>p {}

.playerCard .stats .stat>span {}

.playerCard .stats .stat>span {
  &.rank {}

  &.totalPoints {}

  &.completedMaps {}
}