@use "@/Styles/mixins" as m;

.mobileNavBtn {
  --size: 35px;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  position: relative;
  cursor: pointer;
  z-index: 102;
  background-color: #1F2025;
  border-radius: 6px;
  outline: none;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 193, 7);

  &:not(.mobile).move {
    right: 15px;
  }
}

@include m.medium {
  .mobileNavBtn {
    display: flex;
  }
}

.mobileNavBtn svg {
  width: 18px;
  height: 18px;
  fill: #ffc107;
  position: relative;
  left: .5px;
}