.thead {
  background-color: #151923;
  color: #fff;
  position: sticky;
  top: 90px;
  left: 0;
  z-index: 10;
  transition: background-color .3s;
}

.thead tr {
  width: inherit;
  color: #fff;

  & :where(.rank, .player, .tops) {
    text-align: left;
  }
}

.thead tr th {
  text-transform: uppercase;
  border-bottom: 1px solid #2A3040;
  color: #9AA3B2;
  padding: 24px 20px;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: .5px;
  position: relative;
}