@import "src/Styles/mixins.scss";

.heroSection {
  margin: 0 auto;
  padding: 40px;
  background: #1e1e1e;
  border-radius: 10px;
}

@include small {
  .heroSection {
    padding: 20px;
  }
}

.heroSection h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #ffcc00;
  margin-bottom: 20px;
}

@include small {
  .heroSection h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 550px) {
  .heroSection h1 {
    font-size: 2rem;
  }
}

@include very-small {
  .heroSection h1 {
    font-size: 1.8rem;
  }
}

.heroSection h2 {
  font-size: 2.4rem;
  color: #f0f0f0;
  margin-bottom: 30px;
}

@include small {
  .heroSection h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 550px) {
  .heroSection h2 {
    font-size: 1.4rem;
  }
}

@include very-small {
  .heroSection h2 {
    font-size: 1.2rem;
  }
}

.heroSection .description {
  font-size: 1.1rem;
  color: #bdbdbd;
  margin-bottom: 20px;
  line-height: 1.6;
}

@include small {
  .heroSection .description {
    font-size: .9rem;
  }
}

@include very-small {
  .heroSection .description {
    font-size: .8rem;
  }
}

.heroSection .pointsTable {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 360px;
  width: 100%;
}

.pointsTable tr {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #555555;
  color: #ffffff;
  font-size: 1rem;

  &:last-child {
    border-bottom: none;
  }
}

@include small {
  .pointsTable tr {
    font-size: .9rem;
  }
}

@include very-small {
  .pointsTable tr {
    font-size: .8rem;
  }
}

.pointsTable :where(th, td) {
  width: 60px;
}

@include small {
  .pointsTable :where(th, td) {
    width: 50px;
  }
}

@include very-small {
  .pointsTable :where(th, td) {
    width: 40px;
  }
}

.pointsTable tr td {
  text-align: left;
}

tr .place {
  font-weight: 700;
  color: #ffcc00;
  min-width: 50px;
}

tr .point {
  font-weight: 700;
  color: #1cd1cb;
  min-width: 24px;
}

.heroSection .note {
  margin-top: 30px;
  font-size: 0.9rem;
}

.heroSection .white {
  color: #fff;
  font-weight: 700;
}

.heroSection .date {
  margin-top: 16px;
  color: #f0f0f0;
  font-size: 0.9rem;
}

.heroSection .date time {
  color: #ffcc00;
  font-weight: 600;
}