.input {
  background-color: #151923;
  color: #fff;
  position: relative;
  max-width: 672px;
  min-height: 51px;
  width: 100%;
  outline: 2px solid transparent;
  transition: outline-color .1s ease;
  border: 1px solid #151923;
  border-radius: 12px;
  transition: border-color .2s, box-shadow .2s;

  &:has(:focus) {
    border-color: #FFB800;
    box-shadow: 0 0 0 3px rgba(255, 184, 0, .2);
  }
}

.searchButton {
  border: none;
  outline: none;
  background-color: transparent;
  width: 30px;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 50%;
  translate: 0 -50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton svg {
  stroke: #757575;
  width: 20px;
  height: 20px;
  pointer-events: none;
  transition: stroke .1s ease;
}

.input:not(:has(:placeholder-shown)) .searchButton svg {
  stroke: #e3e6eb;
}

.input:not(:has(:placeholder-shown)) .searchButton:hover svg {
  stroke: #f3f3f3;
}

.searchButton:hover svg {
  stroke: #f3f3f3;
}

.input>input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 15px 0 46px;
  display: block;
  min-height: 48px;
  color: #e3e6eb;
  font-size: 1rem;
  min-height: 48px;

  &::placeholder {
    color: #757575;
  }
}