.links li {
  list-style: none;
  user-select: none;
  opacity: 0;
}

@for $i from 1 through 5 {
  .links.active li:nth-child(#{$i}) {
    transition: opacity .4s ease #{$i * .09}s;
    opacity: 1;
  }
}

.links li a {
  color: #8A8D98;
  text-decoration: none;
  font-size: .95rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 25px;
  position: relative;
  transition: background-color .3s ease, color .3s ease;

  &:hover {
    background-color: rgba(35, 36, 40, .4);
    color: #fff;

    & svg path {
      stroke: #fff;
    }
  }

  &.active {
    background-color: rgba(255, 193, 7, .1);
    color: #FFC107;

    & svg path {
      stroke: #FFC107;
    }
  }

  &.active:hover {
    background-color: rgba(255, 203, 47, 0.2);
  }

  &:active {
    background-color: rgb(35, 36, 40);
  }
}

.links li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
}

.links li a:hover::before {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(255, 255, 255, .6);
}

.links li a:not(.active):active:before {
  box-shadow: 0 0 8px #fff;
}

.links li a.active::before {
  background-color: #FFC107;
  box-shadow: 0 0 8px rgba(255, 193, 7, .6);
}

.links li a.active:active::before {
  background-color: #FFC107;
  box-shadow: 0 0 8px #FFC107;
}

.links li a svg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 1rem;

  & path {
    transition: stroke .3s ease;
    stroke: #8A8D98;
  }
}