@use "@/Styles/mixins" as m;

.mapsSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(390px, 1fr));
  gap: 1.5rem;
}

@include m.medium {
  .mapsSection {
    grid-template-columns: 1fr;
  }
}