@use "@/Styles/mixins" as m;

.mobileNav {
  position: fixed;
  top: 0;
  right: -105%;
  width: 350px;
  height: 100dvh;
  background-color: #1A1B1F;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  z-index: 101;
  border-left: 1px solid #2a2b30;
  box-shadow: -5px 0 15px rgba(0, 0, 0, .3);
  background-image: linear-gradient(to bottom, #0b0c0f, #15161A);
  transition: right .4s cubic-bezier(0.23, 1, 0.32, 1);

  &.active {
    right: 0;
  }
}

@include m.small {
  .mobileNav {
    width: 100%;
  }
}

.mobileNav .title {
  padding: 0 25px 20px;
  font-size: .9rem;
  font-weight: 500;
  color: #8A8D98;
  letter-spacing: 1px;
  user-select: none;
}

.mobileNav .links li {
  list-style: none;
  user-select: none;
  opacity: 0;
}

@for $i from 1 through 5 {
  .mobileNav.active .links li:nth-child(#{$i}) {
    transition: all .4s ease #{$i * .09}s;
    opacity: 1;
  }
}

.mobileNav .links li a {
  color: #8A8D98;
  text-decoration: none;
  font-size: .95rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 25px;
  position: relative;
  transition: background-color .3s ease, color .3s ease;

  &:hover {
    background-color: rgba(35, 36, 40, .4);
    color: #fff;

    & svg path {
      stroke: #fff;
    }
  }

  &.active {
    background-color: rgba(255, 193, 7, .1);
    color: #FFC107;

    & svg path {
      stroke: #FFC107;
    }
  }
}

.mobileNav .links li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
}

.mobileNav .links li a:hover::before {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.mobileNav .links li a.active::before {
  background-color: #FFC107;
  box-shadow: 0 0 8px rgba(255, 193, 7, .6);
}

.mobileNav .links li a svg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 1rem;

  & path {
    transition: stroke .3s ease;
    stroke: #8A8D98;
  }
}

.mobileNav .copyRights {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  bottom: 24px;
  scale: .85;
}