@use "@/Styles/mixins" as m;

.mobileNav {
  position: fixed;
  top: 0;
  right: -105%;
  width: 350px;
  height: 100dvh;
  background-color: #1A1B1F;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  z-index: 101;
  border-left: 1px solid #2a2b30;
  box-shadow: -5px 0 15px rgba(0, 0, 0, .3);
  background-image: linear-gradient(to bottom, #0b0c0f, #15161A);
  transition: right .4s cubic-bezier(0.23, 1, 0.32, 1);

  &.active {
    right: 0;
  }
}

@include m.small {
  .mobileNav {
    width: 100%;
  }
}

.mobileNav .title {
  padding: 0 25px 20px;
  font-size: .9rem;
  font-weight: 500;
  color: #8A8D98;
  letter-spacing: 1px;
  user-select: none;
}

.mobileNav .copyRights {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  bottom: 24px;
  scale: .85;
}