.skeletonCard {
  background-color: #1a1e24;
  border: 1px solid #2a313a;
  border-radius: 12px;
  padding: 16px;
  min-height: 390px;
  display: flex;
  flex-direction: column;
}

.line,
.flag {
  background-color: #2a313a;
  border-radius: 4px;
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.flag {
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  margin-right: 16px;
}

.serverInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.line {
  height: 16px;
  width: 100%;
}

.line.short {
  width: 80%;
}

.line.medium {
  width: 80%;
}

.line.shorter {
  width: 55%;
}

.line.mini {
  width: 30%;
}

.line.tiny {
  width: 17%;
}

.mapInfo {
  padding: 24px 0;
  border-bottom: 1px solid #2a313a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.players {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}