.tbody {
  display: flex;
  flex-direction: column;
  min-height: 483.2px;
  position: relative;
}

.tbody tr {
  width: inherit;
  transition: background-color .1s ease;

  & .score {
    text-align: center;
  }
}

.tbody tr[data-type=player-stats-row]:hover {
  background-color: #242b3b;
}


.tbody tr:not(:last-child) {
  border-bottom: solid 1px #2A3040;
}

.tbody tr .rank {
  color: #fff;
}

.tbody tr .player {
  color: #fff;

  &>span {
    cursor: pointer;
  }
}

.tbody tr .player .playerCountry {
  --size: 32px;
  min-width: var(--size);
  min-height: var(--size);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin-right: 10px;
  background-color: #c9c9c9;
  color: #fff;
  border: 2px solid #2a2e39;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tbody tr .player .playerCountry>img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.tbody tr .rating {
  font-weight: 700;
  font-size: 1.1rem;
  color: #FFB800;
}

.tbody tr :where(.rating, .maps, .score) {
  justify-content: center;
}

.tbody tr .score {
  font-weight: normal;
}

.tbody tr td {
  padding: 16px 20px;
  display: flex;
  align-items: center;
}

.tbody tr:not([data-loader]) td svg {
  width: 20px;
  height: 20px;
}

.tbody tr td svg[data-type=trophy] {
  color: #facc15;
}