.tbody tr {
  width: inherit;
  cursor: pointer;
  transition: background-color .1s ease;

  & .score {
    text-align: center;
  }

  &:hover {
    background-color: #1f293778;
  }

  &:active {
    background-color: #2e3b4c78;
  }

}

.tbody tr:not(:last-child) {
  border-bottom: solid 1px #1f2937;
}

.tbody tr .rank {
  color: #fff;
}

.tbody tr .player {
  color: #fff;
}

.tbody tr .score {
  color: #facc15;
}

.tbody tr td {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.tbody tr td svg {
  width: 20px;
  height: 20px;
}

.tbody tr td svg[data-type=trophy] {
  color: #facc15;
}