@use "@/Styles/mixins" as m;

.contentSection {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

@include m.medium {
  .contentSection {
    flex-wrap: wrap;
  }
}

@include m.small {
  .contentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentSection .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contentSection .leftSide .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  width: fit-content;
}

.contentSection .leftSide .logo>svg {
  width: 42px;
  height: 42px;
  color: #facc15;
}

@include m.small {
  .contentSection .leftSide .logo>svg {
    width: 32px;
    height: 32px;
  }
}

.contentSection .leftSide .logo>span {
  color: #FBBF24;
  font-weight: 700;
  font-size: 1.8rem;
}

@include m.small {
  .contentSection .leftSide .logo>span {
    font-size: 1.6rem;
  }
}

.contentSection .leftSide .description {
  font-size: .9rem;
  color: #9CA3AF;
  margin-bottom: 24px;
  max-width: 390px;
}

@include m.medium {
  .contentSection .leftSide .description {
    max-width: 470px;
  }
}

@include m.small {
  .contentSection .leftSide .description {
    text-align: center;
  }
}

@include m.very-small {
  .contentSection .leftSide .description {
    font-size: .8rem;
    text-wrap: balance;
  }
}