.customCheckbox {
  position: relative;
  width: 52px;
  height: 24px;
  background-color: #2A2E36;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: #3b455f;
  }

  &:active {
    background-color: #4e5974;
  }

  &[aria-checked=true] {
    &::before {
      translate: 24px -50%;
    }

    &::after {
      opacity: 1;
    }
  }
}

.customCheckbox::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  translate: 0 -50%;
  left: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  pointer-events: none;
  z-index: 2;
  transition: translate .3s;
}

.customCheckbox::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
  background-image: linear-gradient(135deg, #FFB800, #FF9000);
  opacity: 0;
  transition: opacity .3s .2s;
}

.customCheckbox>input {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  cursor: inherit;
  opacity: 0;
}