.footer {
  margin-top: 40px;
  padding: 48px 24px;
  position: relative;
}

.footer .line {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  opacity: 60%;
  width: 100%;

  background-image: linear-gradient(to right,
      transparent 0,
      oklch(79.5% 0.184 86.047) 50%,
      transparent 100%);
}

.footer .wrapper {}

// Left side
.footer .wrapper .leftSide {}

.footer .wrapper .leftSide .logo {}

.footer .wrapper .leftSide .logo>svg {}

.footer .wrapper .leftSide .logo>span {}

.footer .wrapper .leftSide .description {}

// Right side
.footer .wrapper .rightSide {}

.footer .wrapper .rightSide .navigation {}

.footer .wrapper .rightSide .navigation>h3 {}

.footer .wrapper .rightSide .navigation .links {}

.footer .wrapper .rightSide .navigation .links>a {}
