.footer {
  margin-top: 40px;
  padding: 48px 24px 80px;
  position: relative;
  background-color: oklch(21% .034 264.665);
}

.footer .line {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  opacity: 60%;
  width: 100%;

  background-image: linear-gradient(to right,
      transparent 0,
      oklch(79.5% 0.184 86.047) 50%,
      transparent 100%);
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

// Left side
.footer .wrapper .leftSide {}

.footer .wrapper .leftSide .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.footer .wrapper .leftSide .logo>svg {
  width: 42px;
  height: 42px;
  color: #facc15;
}

.footer .wrapper .leftSide .logo>span {
  color: #FBBF24;
  font-weight: 700;
  font-size: 1.8rem;
  text-shadow: 0 0 10px rgba(252, 211, 77, 0.5);
}

.footer .wrapper .leftSide .description {
  font-size: .9rem;
  color: #9CA3AF;
  margin-bottom: 24px;
  max-width: 512px;
}

// Right side
.footer .wrapper .rightSide {}