@use "@/Styles/mixins" as m;

.filtersSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

@include m.small {
  .filtersSection {
    grid-template-columns: 1fr;
  }
}