.mapCard {
  padding: 1.5rem;
  border-radius: .75rem;
  border: solid 1px #374151;
  background-color: #1f2937;
  width: 100%;
}

.imgHolder {
  background-color: #374151;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.imgHolder>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgHolder>svg {
  color: #6b7280;
  width: 48px;
  height: 48px;
}

.mapInfo>h2 {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: .5rem;
}

.mapInfo>p {
  color: #d1d5db;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.mapInfo .mapDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mapDetails>div {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.mapDetails>div>svg {
  color: #9ca3af;
  width: 1rem;
  height: 1rem;
}

.mapDetails>div>p {
  color: #9ca3af;
  font-size: .875rem;
  line-height: 1.25rem;
}