@use "@/Styles/mixins" as m;

.mapCard {
  background-color: #101828;
  border-radius: 12px;
  border: 1px solid #2D3748;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
  position: relative;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 10px 25px rgba(255, 193, 7, 0.1);
    border-color: #FFC107;
  }
}

.mapCard .imgHolder {
  border-radius: 12px 12px 0 0;
  aspect-ratio: 19.58 / 11;
  position: relative;
}

.mapCard .imgHolder>img {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .7s ease;
}

.mapCard:hover .imgHolder>img {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}

.mapCard .imgHolder .layer {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, .1) 60%,
      transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: opacity .3s ease;
}

.mapCard .imgHolder .layer .classifications {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
}

.mapCard .imgHolder .layer .classifications .classification {
  background-color: #FFC107;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  transition: all .3s ease;
}

.mapCard .imgHolder .layer .types {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  gap: 8px;
  translate: 0 5px;
  transition: all .3s ease;
}

.mapCard .imgHolder .layer .types>span {
  background-color: #e53e3e;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.mapCard .content {
  padding: 24px;
}

@media (max-width: 1280px) {
  .mapCard .content {
    padding: 24px 14px;
  }
}

@include m.small {
  .mapCard .content {
    padding: 18px;
  }
}

@include m.very-small {
  .mapCard .content {
    padding: 16px 10px;
  }
}

.mapCard .content .nameAndRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 30px;
}

.mapCard .content .nameAndRating a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  letter-spacing: -.3px;
  position: relative;
  padding-left: 2px;
  word-break: break-all;
  transition: color .2s;

  &:hover {
    color: #ffc107;
  }
}

@include m.small {
  .mapCard .content .nameAndRating a {
    font-size: 1rem;
    font-weight: 600;
  }
}

@include m.very-small {
  .mapCard .content .nameAndRating a {
    font-size: 1rem;
  }
}

.mapCard .content .nameAndRating .rateWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2939;
  min-width: 60px;
  border-radius: 10px;
  padding: 4px;
  transition: all .3s ease;
}

.mapCard .content .nameAndRating .rateWrapper .star {
  color: #FFC107;
  font-size: 14px;
  margin-right: 6px;
}

.mapCard .content .nameAndRating .rateWrapper .rate {}

.mapCard .content .videos {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  min-width: 30px;
}

.mapCard .content .videos .video {
  border: none;
  cursor: pointer;
  background-color: rgba(45, 55, 72, .5);
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 13px;
  text-decoration: none;
  flex: 1;
  min-width: 100px;
  justify-content: center;
  border-left: 3px solid #FF0000;
  transition: all .2s ease;

  &:hover {
    background-color: rgba(74, 85, 104, .7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  }
}

.mapCard .content .videos .video>svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.mapCard .content .videos .video .type {}

.mapCard .infoCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.mapCard .infoCards .card {
  background-color: rgba(45, 55, 72, .3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(45, 55, 72, .5);
  border-radius: 8px;
  padding: 16px;
  transition: all .3s ease;
}

.mapCard .infoCards .card .titleWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.mapCard .infoCards .card .titleWrapper .iconHolder {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: rgba(90, 103, 216, .15);
  color: #818CF8;
  transition: all .3s ease;
}

.mapCard .infoCards .card .titleWrapper .title {
  color: #A0AEC0;
  font-size: 12px;
  font-weight: 500;
}

.mapCard .infoCards .card .result {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-left: 50px;
  margin: 8px 0 0 0;
  transition: all .3s ease;
}

.mapCard .content .completionRate {
  margin-bottom: 26px;
}

.mapCard .content .completionRate .textWrapper {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  margin-bottom: 10px;
}

.mapCard .content .completionRate .textWrapper .text {
  color: #A0AEC0;
  font-weight: 500;
}

.mapCard .content .completionRate .textWrapper .rate {
  color: #fff;
  font-weight: 600;
}

.mapCard .content .completionRate .progressBar {
  width: 100%;
  background-color: oklch(27.8% 0.033 256.848);
  border-radius: 12px;
  height: 12px;
  overflow: hidden;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  position: relative;
}

.mapCard .content .completionRate .progressLine {
  height: 12px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #E53E3E, #FFC107);
  transition: width 1s cubic-bezier(.175, .885, .32, 1.275);
}

.mapCard .content .completionRate .progressLine::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, 0) 100%);
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}