@use "@/Styles/mixins" as m;

@include m.small {
  .playerRow td {
    min-height: 106px;
    align-items: flex-end !important;
  }
}

.playerRow .rank {
  color: #fff;
}

@media (max-width: 1300px) {
  .playerRow .rank {
    padding-block: 30px;
    background-color: #0f1115;
    background-color: #14171d;
    border-radius: 10px 10px 0 0;
  }

  .playerRow .rank svg {
    width: 34px !important;
    height: 34px !important;
  }
}

@include m.small {
  .playerRow .rank {
    min-height: 130px;
  }
}

.playerRow .rating {
  font-weight: 700;
  font-size: 1.1rem;
  color: #FFB800;
}

.playerRow :where(.rating, .maps, .score) {
  justify-content: center;
}

.playerRow .score {
  font-weight: normal;
}

@include m.medium {
  .playerRow .tops {
    align-items: flex-end;
    height: 150px;
  }
}

@media (max-width: 540px) {
  .playerRow .tops {
    display: none;
  }
}