.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button {
  background-color: #1e2029;
  border: 1px solid #ffcc33;
  color: #ffcc33;
  padding: 8px 16px;
  min-width: 102px;
  border-radius: 4px;
  font-weight: 500;
  font-size: .87rem;
  cursor: pointer;
  position: relative;
  top: 2px;
  transition: background-color .2s;

  &:not(:disabled):hover {
    background-color: #2a2b36;
  }

  &:disabled {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    cursor: not-allowed;
  }
}