@use "@/Styles/mixins" as m;

.filterGroup {
  border: none;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  min-width: 200px;
}

@include m.very-small {
  .filterGroup {
    width: 100%;
  }
}