.header {
  padding: 1rem;
  max-width: 1279px;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  left: 50%;
  translate: -50% 0;
  top: 0;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .logo>svg {
  color: #facc15;
  width: 2rem;
  height: 2rem;
}

.header .logo>span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}