@use "@/Styles/mixins" as m;

.header {
  width: 100%;
  min-height: 72px;
  position: fixed;
  left: 50%;
  translate: -50% 0;
  top: 0;
  z-index: 100;
  background-color: #0a0d12;

  &.v2 {
    background: transparent;
  }
}

.header [data-container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 1.4rem 1rem;
}