@use "@/Styles/mixins" as m;

.header {
  width: 100%;
  min-height: 72px;
  position: fixed;
  left: 50%;
  translate: -50% 0;
  top: 0;
  z-index: 100;
  background-color: #0a0d12;

  &.v2 {
    background: transparent;
  }
}

.header [data-container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 1.4rem 1rem;
}

.header .logo {
  outline: none;
  border-bottom: solid 2px transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 1px;

  &:focus-visible {
    border-color: #facc15;
  }
}

@include m.medium {
  .header .logo {
    gap: 6px;
  }
}

.header .logo>svg {
  color: #facc15;
  width: 2rem;
  height: 2rem;
}

@include m.medium {
  .header .logo>svg {
    width: 1.9rem;
    height: 1.9rem;
  }
}

@include m.small {
  .header .logo>svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.header .logo>span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-wrap: nowrap;
}

.header .logo:focus-visible>span {
  background: linear-gradient(135deg, #ffb800, #ff9000);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
}

@include m.medium {
  .header .logo>span {
    font-size: 1.4rem;
  }
}

@include m.small {
  .header .logo>span {
    font-size: 1.2rem;
  }
}