@use "../../../Styles/mixins" as m;

.mainNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

@include m.medium {
  .mainNav {
    gap: 14px;
  }
}

@include m.small {
  .mainNav {
    display: none;
  }
}

.mainNav>a {
  padding: .7rem 1.1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: .5rem;
  transition: background-color .1s ease;

  &.active,
  &:hover {
    background-color: #242f3d;
  }

  &:active {
    background-color: #334152;
  }

  &.active:hover {
    background-color: #334152;
  }

}

@include m.medium {
  .mainNav>a {
    padding: .7rem 1.03rem;
  }
}

.mainNav>a>svg {
  color: #9ca3af;
  width: 20px;
  height: 20px;
}

@include m.medium {
  .mainNav>a>svg {
    width: 18px;
    height: 18px;
  }
}

.mainNav>a.active>svg {
  color: #fff;
}

.mainNav>a:not(.active):hover>svg {
  color: #ebebeb;
}

.mainNav>a>span {
  color: #9ca3af;
  font-size: 1rem;
  font-weight: light;
}

@include m.medium {
  .mainNav>a>span {
    font-size: .9rem;
  }
}

.mainNav>a.active>span {
  color: #fff;
}

.mainNav>a:not(.active):hover>span {
  color: #ebebeb;
}