.mainNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mainNav>a {
  padding: .7rem 1.1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: .5rem;
  transition: background-color .2s ease;

  &.active {
    background-color: #1f2937;
  }

  &:not(.active):hover {
    background-color: #1b2532;
  }
}

.mainNav>a>svg {
  color: #9ca3af;
  width: 20px;
  height: 20px;
}

.mainNav>a.active>svg {
  color: #fff;
}

.mainNav>a:not(.active):hover>svg {
  color: #ebebeb;
}

.mainNav>a>span {
  color: #9ca3af;
  font-size: 1rem;
  font-weight: light;
  letter-spacing: .6;
}

.mainNav>a.active>span {
  color: #fff;
}

.mainNav>a:not(.active):hover>span {
  color: #ebebeb;
}