@use "@/Styles/mixins" as m;

.logo {
  outline: none;
  display: flex;
  align-items: center;
  min-width: 208px;
  padding-left: 68px;
  gap: 8px;
  border-radius: 1px;
  position: relative;
}

@include m.medium {
  .logo {
    gap: 6px;
  }
}

.logo>svg {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}

.logo:focus-visible>svg {
  fill: #facc15;
}

@include m.medium {
  .logo>svg {
    width: 30px;
    height: 30px;
  }
}

@include m.small {
  .logo>svg {
    width: 29px;
    height: 29px;
  }
}

.logo>span {
  background: linear-gradient(135deg, #9ea3b0, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: #9ea3b0;
  font-size: 1.45rem;
  font-weight: 700;
  text-wrap: nowrap;
}

.logo:focus-visible>span {
  background: linear-gradient(135deg, #ffb800, #ff9000);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
}

@include m.medium {
  .logo>span {
    font-size: 1.4rem;
  }
}

@include m.small {
  .logo>span {
    font-size: 1.2rem;
  }
}