@use "@/Styles/mixins" as m;

.navigation {
  min-width: 240px;
}

@include m.small {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.navigation>h3 {
  color: #FBBF24;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 16px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(234, 179, 8, 0.2);
}

.navigation .links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: fit-content;
}

@include m.medium {
  .navigation .links {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include m.small {
  .navigation .links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include m.very-small {
  .navigation .links {
    grid-template-columns: 1fr;
  }
}

.navigation .links a {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 4px 8px;
  border-radius: 4px;
  transition: color .2s cubic-bezier(0.4, 0, 0.2, 1),
    background .2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &.active {
    background: linear-gradient(90deg,
        rgba(252, 211, 77, .1) 0,
        rgba(252, 211, 77, 0) 100%);
  }
}

@include m.small {
  .navigation .links a {
    padding-left: calc(50% - 45px);

    &:hover,
    &.active {
      background: linear-gradient(90deg,
          rgba(252, 211, 77, 0) 0,
          rgba(252, 211, 77, .1) 50%,
          rgba(252, 211, 77, 0) 100%,
        );
    }
  }
}

.navigation .links a>span {
  color: #d1d5dc;
}

.navigation .links a.active span,
.navigation .links a:hover span {
  color: #FBBF24;
}

.navigation .links a>svg {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  & path {
    stroke: #d1d5dc;
  }
}

.navigation .links a.active svg,
.navigation .links a:hover svg {
  color: #FBBF24;

  & path {
    stroke: #FBBF24;
  }
}