.red {
  color: #da0120;
}

.green {
  color: #00b906;
}

.yellow {
  color: #e8ff19;
}

.blue {
  color: #170bdb;
}

.cyan {
  color: #23c2c6;
}

.magenta {
  color: #e201db;
}

.white {
  color: #eee;
}

.gray {
  color: #757575;
}

.black {
  color: #000;
}